--extra-index-url https://europe-west4-python.pkg.dev/cloudnine-digital/cnd-tools-repo/simple
cnd-tools[gcp]>=1.9.4
functions-framework==3.1.0
gcsfs==2022.7.1
pandas
pandas-gbq
google-cloud-logging
google-cloud-bigquery
python-dotenv
openpyxl
